h1 { 
    color: purple;
    font-size: 48px
  }

  .completed {
    text-decoration: line-through;  /* Strikes through the text */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 5000px;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="button"] {
    width: 80%;
    padding: 10px;
    background-color: #52bf55;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

li {
    padding: 10px;
    background-color: #f9f9f9;
    margin: 5px 0;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}